# BÀI 1: THAO TÁC CƠ BẢN TRÊN DỮ LIỆU

## 1. Đọc dữ liệu

Đầu tiên ta cần import các thư viện cần thiết, trong bài này sẽ sử dụng thư viện `pandas`.

Nếu trường hợp ta muốn chạy trên máy local và cài đặt thư viện. Thì hãy mở cửa sổ `Terminal` và chạy dòng lệnh `pip install pandas`

In [21]:
### BEGIN SOLUTION
import pandas as pd
### END SOLUTION

### Đọc dữ liệu từ file có định dạng csv

+ Cần chuẩn bị một file .csv (có thể lưu ở máy local hoặc trên Google Drive). Sau đó truyền đường dẫn file vào câu lệnh ở dưới.

+ df_csv = ... (sử dụng phương thức `read_csv()` của thư viện `pandas`)

In [22]:
### BEGIN SOLUTION
df_csv = pd.read_csv('data/heart.csv')
### END SOLUTION

### Đọc dữ liệu từ file với định dạng xlsx (Excel)

+ Tương tự, ta cần chuẩn bị một file .xlsx (có thể lưu ở máy local hoặc trên Google Drive). Sau đó truyền đường dẫn file vào câu lệnh ở dưới.

+ df_xlsx = ... (sử dụng phương thức `read_excel()` của thư viện `pandas`)

In [23]:
### BEGIN SOLUTION
df_xlsx = pd.read_excel('data/heart.xlsx')
### END SOLUTION

### Đọc dữ liệu từ google sheet (Tự tham khảo và tìm hiểu thêm)

+ Tương tự, ta cần chuẩn bị một file token.json (có thể lưu ở máy local hoặc trên Google Drive). Sau đó truyền đường dẫn file vào câu lệnh ở dưới.

+ Bên dưới là code mẫu

**Nguồn tham khảo:**

* https://www.youtube.com/watch?v=3wC-SCdJK2c
* https://developers.google.com/sheets/api/quickstart/python

**Lưu ý:** Ngoài ra ta còn có thể lưu google sheet thành file csv hoặc xlsx rồi làm như bình thường

## 2. Xoá dữ liệu

Đối với các thao tác xử lý dữ liệu tiếp theo, chúng ta sẽ sử dụng bộ dữ liệu `df_csv`.

In [24]:
df_csv.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0,normal,No

Đầu tiên ta sẽ xem số hàng và số cột của dataframe `df_csv`

In [25]:
df_csv.shape

(50, 15)

* Ta thấy cột `Unnamed: 0` không có giá trị sử dụng nên ta xoá nó đi bằng cách dùng phương thức `drop` của dataframe

* Tham số `axis` được sử dụng để chỉ định xoá hàng hoặc xoá cột
    - Với axis=0 thì đó là xoá hàng
    - Với axis=1 thì đó là xoá cột
* Ngoài cách xoá bằng tên `Unnamed: 0` như trên, ta có thể xoá bằng index hoặc cách khác, các bạn tự tìm hiểu thêm

df_csv_after = ...

In [26]:
### BEGIN SOLUTION
df_csv_after = df_csv.drop("Unnamed: 0", axis=1)
#df_csv_after
### END SOLUTION

## 3. Thêm hàng và cột

### Thêm hàng

+ Để thêm hàng hoặc cột, ta có thể sử dụng phương thức như `concat()` của thư viện `pandas`

+ **Lưu ý:** `pd.append()` không còn hỗ trợ từ phiên bản pandas >= 1.4

In [27]:
df_csv_after.head()
#df_csv_after.tail()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0,normal,No

In [28]:
new_row = pd.DataFrame([{'Age': 18, 'Sex': 1, 'ChestPain': 'typical', 'RestBP': 144, 'Chol': 231, 'Fbs': 1, 'RestECG': 2, 'MaxHR': 150, 'ExAng': 1, 'Oldpeak': 2.4, 'Slope': 1, 'Ca': 3, 'Thal': 'normal', 'AHD': 'No'}])

Ta sẽ thêm hàng `new_row` vào cuối dataframe `df_csv_after` bằng phương thức `concat` của thư viện `pandas` với:
* Tham số `ignore_index = True`
* Sau đó ta gán lại vào biến `df_combined`

In [29]:
### BEGIN SOLUTION
df_combined = pd.concat([df_csv_after, new_row], ignore_index=True)
### END SOLUTION
df_combined.tail()
#df_combined.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
46,51,1,nonanginal,110,175,0,0,123,0,0.6,1,0,normal,No
47,50,1,asymptomatic,150,243,0,2,128,0,2.6,2,0,reversable,Yes
48,65,0,nonanginal,140,417,1,2,157,0,0.8,1,1,normal,No
49,53,1,nonanginal,130,197,1,2,152,0,1.2,3,0,normal,No
50,18,1,typical,144,231,1,2,150,1,2.4,1,3,normal,No

<hr>

### Thêm cột

In [30]:
df_combined.shape

(51, 14)

Ta sẽ tạo thêm một mảng gồm 51 phần tử (tương ứng với số hàng của dataframe)

In [31]:
import numpy as np
np.random.seed(0)
new_col = np.random.randint(5, size=51)
new_col

array([4, 0, 3, 3, 3, 1, 3, 2, 4, 0, 0, 4, 2, 1, 0, 1, 1, 0, 1, 4, 3, 0,
       3, 0, 2, 3, 0, 1, 3, 3, 3, 0, 1, 1, 1, 0, 2, 4, 3, 3, 2, 4, 2, 0,
       0, 4, 0, 4, 1, 4, 1])

Thông thường thêm cột sẽ có 2 cách chính:
* Thêm trực tiếp
* Thêm bằng phương thức `insert` của `dataframe`

**1. Thêm trực tiếp**

Ở đây ta sẽ thêm trực tiếp `new_col` vào cuối dataframe với label là `new`

Code: `df_combined['new'] = ...`

In [32]:
### BEGIN SOLUTION
df_combined['new'] = new_col
### END SOLUTION
df_combined.tail()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD,new
46,51,1,nonanginal,110,175,0,0,123,0,0.6,1,0,normal,No,0
47,50,1,asymptomatic,150,243,0,2,128,0,2.6,2,0,reversable,Yes,4
48,65,0,nonanginal,140,417,1,2,157,0,0.8,1,1,normal,No,1
49,53,1,nonanginal,130,197,1,2,152,0,1.2,3,0,normal,No,4
50,18,1,typical,144,231,1,2,150,1,2.4,1,3,normal,No,1

**2. Thêm bằng bằng phương thức `insert` của dataframe**

+ Dùng phương thức `insert` này sẽ có lợi ích đó chính là ta có thể chỉ định vị trí của cột mà ta cần thêm

+ Ở đây ta sẽ thêm `new_col` vào vị trí thứ 2 của dataframe `df_combined` với label là `new_col_1`

+ **Lưu ý**, khi sử dụng phương thức `insert` thì ta không cần gán lại

In [33]:
### BEGIN SOLUTION
df_combined.insert(2, 'new_col_1', new_col)
### END SOLUTION
df_combined.head()

,Age,Sex,new_col_1,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD,new
0,63,1,4,typical,145,233,1,2,150,0,2.3,3,0,fixed,No,4
1,67,1,0,asymptomatic,160,286,0,2,108,1,1.5,2,3,normal,Yes,0
2,67,1,3,asymptomatic,120,229,0,2,129,1,2.6,2,2,reversable,Yes,3
3,37,1,3,nonanginal,130,250,0,0,187,0,3.5,3,0,normal,No,3
4,41,0,3,nontypical,130,204,0,2,172,0,1.4,1,0,normal,No,3

## 4. Thay đổi giá trị trong dataframe

Để thay đổi giá trị trong dataframe, ta sử dụng phương thức `iloc` hoặc `at` của dataframe

* Phương thức `iloc` ta phải truyền vào 2 số tương ứng với vị trí hàng và cột của giá trị cần thay đổi
* Phương thức `at` ta phải truyền vào chính xác tên hàng và tên cột
* Đối với phương thức `iloc` nếu muốn lấy giá trị của toàn bộ hàng thì ta chỉ cần truyền vào hàng đó mà không cần truyền vào cột, còn nếu muốn lấy cột thì ta làm ngược lại nhưng **lưu ý trước dấu `,` ta phải để dấu `:`**

Để thay đổi giá trị thì ta chỉ việc gán lại

In [34]:
print(df_combined.iloc[0, 0])
df_combined.at[0, 'Age']

63

63

In [35]:
np.random.seed(1)
change_val = np.random.randint(5, size=51)
change_val

array([3, 4, 0, 1, 3, 0, 0, 1, 4, 4, 1, 2, 4, 2, 4, 3, 4, 2, 4, 2, 4, 1,
       1, 0, 1, 1, 1, 1, 0, 4, 1, 0, 0, 3, 2, 1, 0, 3, 1, 1, 3, 4, 0, 1,
       3, 4, 2, 4, 0, 3, 1])

Ở đây ta sẽ thay đổi giá trị cột `new` bằng giá trị của list `change_val`

In [36]:
### BEGIN SOLUTION
df_combined.iloc[:, 15:16] = change_val
df_combined
### END SOLUTION

,Age,Sex,new_col_1,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD,new
0,63,1,4,typical,145,233,1,2,150,0,2.3,3,0,fixed,No,3
1,67,1,0,asymptomatic,160,286,0,2,108,1,1.5,2,3,normal,Yes,4
2,67,1,3,asymptomatic,120,229,0,2,129,1,2.6,2,2,reversable,Yes,0
3,37,1,3,nonanginal,130,250,0,0,187,0,3.5,3,0,normal,No,1
4,41,0,3,nontypical,130,204,0,2,172,0,1.4,1,0,normal,No,3
5,56,1,1,nontypical,120,236,0,0,178,0,0.8,1,0,normal,No,0
6,62,0,3,asymptomatic,140,268,0,2,160,0,3.6,3,2,normal,Yes,0
7,57,0,2,asymptomatic,120,354,0,0,163,1,0.6,1,0,normal,No,1
8,63,1,4,asymptomatic,130,254,0,2,147,0,1.4,2,1,reversable,Yes,4
9,53,1,0,asymptomatic,140,203,1,2,155,1,3.1,3,0,reversable,Yes,4
10,57,1,0,asymptomatic,140,192,0,0,148,0,0.4,2,0,fixed,No,1
11,56,0,4,nontypical,140,294,0,2,153,0,1.3,2,0,normal,No,2
12,56,1,2,nonanginal,130,256,1,2,142,1,0.6,2,1,fixed,Yes,4
13,44,1,1,nontypical,120,263,0,0,173,0,0.0,1,0,reversable,No,2
14,52,1,0,nonanginal,172,199,1,0,162,0,0.5,1,0,reversable,No,4
15,57,1,1,nonanginal,150,168,0,0,174,0,1.6,1,0,normal,No,3
16,48,1,1,nontypical,110,229,0,0,168,0,1.0,3,0,reversable,Yes,4
17,54,1,0,asymptomatic,140,239,0,0,160,0,1.2,1,0,normal,No,2
18,48,0,1,nonanginal,130,275,0,0,139,0,0.2,1,0,normal,No,4
19,49,1,4,nontypical,130,266,0,0,171,0,0.6,1,0,normal,No,2
20,64,1,3,typical,110,211,0,2,144,1,1.8,2,0,normal,No,4
21,58,0,0,typical,150,283,1,2,162,0,1.0,1,0,normal,No,1
22,58,1,3,nontypical,120,284,0,2,160,0,1.8,2,0,normal,Yes,1
23,58,1,0,nonanginal,132,224,0,2,173,0,3.2,1,2,reversable,Yes,0
24,60,1,2,asymptomatic,130,206,0,2,132,1,2.4,2,2,reversable,Yes,1
25,50,0,3,nonanginal,120,219,0,0,158,0,1.6,2,0,normal,No,1
26,58,0,0,nonanginal,120,340,0,0,172,0,0.0,1,0,normal,No,1
27,66,0,1,typical,150,226,0,0,114,0,2.6,3,0,normal,No,1
28,43,1,3,asymptomatic,150,247,0,0,171,0,1.5,1,0,normal,No,0
29,40,1,3,asymptomatic,110,167,0,2,114,1,2.0,2,0,reversable,Yes,4
30,69,0,3,typical,140,239,0,0,151,0,1.8,1,2,normal,No,1
31,60,1,0,asymptomatic,117,230,1,0,160,1,1.4,1,2,reversable,Yes,0
32,64,1,1,nonanginal,140,335,0,0,158,0,0.0,1,0,normal,Yes,0
33,59,1,1,asymptomatic,135,234,0,0,161,0,0.5,2,0,reversable,No,3
34,44,1,1,nonanginal,130,233,0,0,179,1,0.4,1,0,normal,No,2
35,42,1,0,asymptomatic,140,226,0,0,178,0,0.0,1,0,normal,No,1
36,43,1,2,asymptomatic,120,177,0,2,120,1,2.5,2,0,reversable,Yes,0
37,57,1,4,asymptomatic,150,276,0,2,112,1,0.6,2,1,fixed,Yes,3
38,55,1,3,asymptomatic,132,353,0,0,132,1,1.2,2,1,reversable,Yes,1
39,61,1,3,nonanginal,150,243,1,0,137,1,1.0,2,0,normal,No,1
40,65,0,2,asymptomatic,150,225,0,2,114,0,1.0,2,3,reversable,Yes,3
41,40,1,4,typical,140,199,0,0,178,1,1.4,1,0,reversable,No,4
42,71,0,2,nontypical,160,302,0,0,162,0,0.4,1,2,normal,No,0
43,59,1,0,nonanginal,150,212,1,0,157,0,1.6,1,0,normal,No,1
44,61,0,0,asymptomatic,130,330,0,2,169,0,0.0,1,0,normal,Yes,3
45,58,1,4,nonanginal,112,230,0,2,165,0,2.5,2,1,reversable,Yes,4
46,51,1,0,nonanginal,110,175,0,0,123,0,0.6,1,0,normal,No,2
47,50,1,4,asymptomatic,150,243,0,2,128,0,2.6,2,0,reversable,Yes,4
48,65,0,1,nonanginal,140,417,1,2,157,0,0.8,1,1,normal,No,0
49,53,1,4,nonanginal,130,197,1,2,152,0,1.2,3,0,normal,No,3
50,18,1,1,typical,144,231,1,2,150,1,2.4,1,3,normal,No,1